# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# Circuits
circuits/**/crs/
circuits/target/
circuits/ecrecover-k256/contract/.DS_Store
circuits/secret/contract/.DS_Store
circuits/p256/contract.DS_Store

# Misc
trash
.idea

cargo.lock