# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# Circuits
circuits/**/crs/
circuits/utils/

# Misc
trash
.idea
.DS_Store
**/.DS_Store

cargo.lock